*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: ghostwhite;
  color: darkslateblue;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

a {
  color: mediumturquoise;
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}

dl:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child),
ol:not(:last-child),
p:not(:last-child),
ul:not(:last-child) {
  margin-bottom: 1rem;
}

button,
input,
select,
textarea {
  font: inherit;
}
