.o-layout {
  display: flex;
  flex-direction: column;
  margin: -0.5rem;
}

  .o-layout:not(:last-child) {
    margin-bottom: calc(1rem - 0.5rem);
  }

  .o-layout-item {
    padding: 0.5rem;
  }

  .o-layout-item.is-aligned-middle {
    align-items: center;
    justify-content: center;
  }

  .o-layout-item.is-expanded {
    flex: 1;
  }

.o-layout.is-flush {
  margin: 0;
}

  .o-layout.is-flush > .o-layout-item {
    padding: 0;
  }

.o-layout.is-full-height {
  min-height: 100vh;
}

.o-layout.is-horizontal {
  flex-direction: row;
}

@media screen and (min-width: 900px) {
  /* Only use horizontal display on larger displays */
  .o-layout.is-horizontal\@for-tablet-landscape-up {
    flex-direction: row;
  }
}

.o-layout.is-vertical {
  flex-direction: column;
}
